[submodule "extensions/coreuser"]
	path = extensions/coreuser
	url = git@github.com:OpenComb/extensions-core-coreuser.git

[submodule "extensions/blog"]
	path = extensions/blog
	url = git@github.com:OpenComb/extensions-sns-blog.git

[submodule "extensions/feed"]
	path = extensions/feed
	url = git@github.com:OpenComb/extensions-sns-feed.git

[submodule "extensions/groups"]
	path = extensions/groups
	url = git@github.com:OpenComb/extensions-sns-groups.git

[submodule "extensions/instantmessaging"]
	path = extensions/instantmessaging
	url = git@github.com:OpenComb/extensions-sns-instantmessaging.git

[submodule "extensions/message"]
	path = extensions/message
	url = git@github.com:OpenComb/extensions-sns-message.git
[submodule "extensions/microblog"]
	path = extensions/microblog
	url = git@github.com:OpenComb/extensions-sns-microblog.git
[submodule "extensions/notice"]
	path = extensions/notice
	url = git@github.com:OpenComb/extensions-sns-notice.git
[submodule "extensions/sns"]
	path = extensions/sns
	url = git@github.com:OpenComb/extensions-sns-sns.git
[submodule "extensions/album"]
	path = extensions/album
	url = git@github.com:OpenComb/extensions-sns-album.git

[submodule "extensions/developtoolbox"]
	path = extensions/developtoolbox
	url = git@github.com:OpenComb/extensions-develop-developtoolbox.git
[submodule "extensions/tester"]
	path = extensions/tester
	url = git@github.com:OpenComb/extensions-develop-tester.git

[submodule "extensions/pearcommon"]
	path = extensions/pearcommon
	url = git@github.com:OpenComb/extensions-pear-pearcommon.git
[submodule "extensions/pearphp"]
	path = extensions/pearphp
	url = git@github.com:OpenComb/extensions-pear-pearphp.git
[submodule "extensions/pearphpunit"]
	path = extensions/pearphpunit
	url = git@github.com:OpenComb/extensions-pear-pearphpunit.git



[submodule "extensions/realknowledgeplatform"]
	path = extensions/realknowledgeplatform
	url = root@zq.local.com:/local/d/project/jecat.cn/opencomb.com/oc.release/extensions/realknowledgeplatform
