.buildpath
.project
.settings/
classpath.php
dummy.php
phpinfo.php
test.php
data
framework
settings
extensions*
services
gitall.sh
PlatformDataUpgraderLock.html
lock.shutdown.*
/nbproject/private/
.svn
