/*CSS reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}

/*CSS normal*/
body{ font:12px Tahoma,Arial,sans-serif;color:#333}
#wrapper{width:960px; margin:0 auto;/* background:url(/platform/ui/images/NO4.jpg) no-repeat center 0;*/}
a{color:#005eac; text-decoration:none}
a:hover{ text-decoration:underline}
.clear{ clear:both; font-size:0; line-height:0; float:none; visibility:hidden;}

/*header-------------------------------------------*/
#header{width:940px; margin:0 auto; padding-top:40px; }
.logo{ float:left;}
.logo a{ display:block; width:71px; height:37px; background:url(/platform/ui/images/logo.jpg) no-repeat 0; text-indent:-9999px; overflow:hidden}
#header .upperMenu{ float:right; color:#999}
#header .upperMenu a{ color:#999}
.navigation{width:930px;height:20px; background:#005eac; float:left;margin:10px 0 0;padding:5px;}
.navigation li{ display:inline;margin:0 24px 0 2px; font-weight:bold; font-size:16px;}
.nav{ float:left}
.nav a{color:#fff;}
.search{ float:right;}
.search_text{width:176px; height:14px;color:#bbb;border:0;float:left; padding:2px;}
.btn_search{width:50px; height:18px; line-height:18px; color:#005eac; background:#c4e4ff;float:left; border:0; border-left:1px solid #ddd; text-align:center}
a:hover.btn_search{ text-decoration:none}

/*main-------------------------------------------*/
#main{margin:20px auto 0; width:940px;}
.aside{width:135px; float:left}
.login,.logined{border:1px solid #ddd;width:270px; height:130px;padding:15px}
.username span, .password span{font-size:16px; color:#000;margin-right:6px;}
.password{margin-top:14px;}
.textfield{width:200px; height:20px;padding:2px; border:1px solid #ddd;}
.remember{padding-left:58px;margin-top:12px; color:#6e6e6e;}
.remember a{}
.login_btn{padding-left:58px;margin-top:10px;}
.logined_btn{ width:208px; margin:14px auto 0;}
.btn_login, .btn_register{width:84px; height:25px; font-size:16px; line-height:25px;cursor:pointer}
.btn_login{ background:#005eac; color:#fff; border:1px solid #024073}
.btn_register{ background:#d2d2d2; color:#6f6f6f; border:1px solid #737373; margin-left:34px;}
.userInfo{width:208px; margin:10px auto 0;}
.userInfo img{width:60px; height:60px;}
.avatar{width:60px; height:60px; padding:2px; border:1px solid #ccc; display:block; float:left}
.text { float:left;margin-left:10px;}
.text h5 a{color:#005eac; font-size:14px;}
.text p{margin-top:10px;}

.mt14{ margin-top:14px;}

.column{border:1px solid #ddd;width:290px; padding:5px;}
.column h2, .section h2{ font-size:14px; font-weight:bold; color:#666;margin-bottom:8px;height:16px; line-height:16px;}
.decorate{width:7px; height:16px; background:#005eac; float:left; margin:0 4px 0 1px;}
.more{ float:right; font-size:12px; font-weight:normal; color:#666; background:url(/platform/ui/images/more.gif) no-repeat right 0;padding-right:14px;}
a:hover.more{color:#005eac; text-decoration:none; background-position:right -18px;}
.column li{ background:url(/platform/ui/images/column_line.gif) repeat-x 0 bottom;margin-bottom:6px;overflow: hidden;padding-bottom:6px;zoom:1;}
.column .last{ background:none;margin-bottom:0}
.thumb{ height:60px; height:60px;padding:2px; border:1px solid #ccc; float:left;display:inline;}
.thumb img{width:60px; height:60px;}
.info{ float:left; display:inline;margin-left:3px;width:220px;}
.info h3{ font-size:14px; font-weight:bold; overflow:hidden; line-height:18px;}
.jion{color:#666}


.content{float:right; widht:625px;}
.section{border:1px solid #ddd;width:610px; padding:5px;}
.section li{width:190px; float:left; height:110px; overflow:hidden;padding-right:10px;}
.section .thumb{height:50px; height:50px;}
.section .thumb img{width:50px; height:50px;}
.section .info{width:120px;margin-left:6px;}
.des{ clear:both;padding:6px 2px 0; color:#434343}

.tabpart{border:2px solid #ddd;width:618px;}
.tab_tit{width:614px; background:#ddd; height:19px;padding:4px 0 0 4px;}
.tab_tit li{ float:left; margin-right:1px; }
.tab_tit li a{font-size:14px; font-weight:bold; color:#888;padding:2px 8px}
.tab_tit li a:hover{ text-decoration:none}
.tab_tit li.selectTag a{ color:#005eac; background:#fff}
.tab_item{ display:none; height:610px; width:610px;}
.selectTag {display: block}
.tabpart .more{margin:6px 10px 6px 0}
.album{ clear:both;margin-left:10px;}
.album li{width:120px; height:139px; background:url(/platform/ui/images/album_bg.jpg) no-repeat 0 0;padding:3px;margin:0 12px;_margin:0 10px;float:left}
.album img{width:120px; height:90px;}
.album p{ line-height:16px;}
.album span{color:#666;margin-left:3px;}

/*footer-------------------------------------------*/
#footer{width:940px; margin:14px auto 10px; text-align:right; line-height:18px;}



.k{width:940px; margin:10px auto; }