<js src="oc:jquery-1.6.2.min.js" />
<js src="instantmessaging:webimhelper.js" />
<js src="instantmessaging:webim.js" />
<css src="oc:common.css" />
<css src="instantmessaging:webim.css" />

<!-- wrapper start-->
<div id="wrapper">
	<!-- header start-->
	<div id="header">
		<div class="logo">
			<h1><a title="SNS web os" href="">Logo</a>
			</h1>
		</div>
		<div class="upperMenu">
			<span class="upperLogined"><span class="cur_username"></span><a href="" target="_blank">管理</a>
			| <a href="" target="_blank">退出</a>
			| </span>
			<span class="upperNologin"><a href="" target="_blank">登陆</a>
			| <a href="" target="_blank">注册</a>
			| </span>
			<a href="" target="_blank">帮助</a>
		</div>
		<div class="navigation">
			<ul class="nav">
				<li class="home nowpage">
					<a href="/?c=sns.index">首页</a>
				</li>
				<li class="profile">
					<a href="">个人主页</a>
				</li>
				<li class="friends">
					<a href="">好友</a>
				</li>
				<li class="application">
					<a href="">应用</a>
				</li>
				<li class="settings">
					<a href="">设置</a>
				</li>
				<li class="settings">
					<a href="#" onclick="IntWebIM()">IM</a>
				</li>
			</ul>
			<div class="search">
				<form>
					<input type="text" class="search_text" value="搜索感兴趣的内容" />
					<a href="" class="btn_search">搜 索</a>
				</form> 
			</div>
		</div>
	</div>
	<!-- header end -->
	<div class="clear"></div>
	
</div>
<!-- wrapper end -->


<!-- main start -->
<div id="main">
	<views />
</div>
<!-- main end -->


<!-- footer start -->
<div id="footer">
	<div class="upperMenu">
		<a href="" target="_blank">关于我们</a>
		| <a href="" target="_blank">加入我们</a>
		| <a href="" target="_blank">联系我们</a>
		| <a href="" target="_blank">免责声明</a>
		| <a href="" target="_blank">帮助中心</a>
		| <a href="" target="_blank">手机版</a>
	</div>
	<div class="copyright">&copy;2011<a href="">cando</a>
		,all rights reserved</div>
</div>
<!-- footer end -->




	<!-- 暂时 -->
	<div id="Cronus's Garden" class="k">
	当前登陆用户：
	 <a href="?c=register">注册</a>
	 <a href="?c=coreuser.update">修改</a>
	  <a href="?c=login">登陆</a>
	   <a href="?c=logout">退出</a>
	    <a href="/?c=coreuser.subscribe.index">我关注的用户</a>
	     <a href="/?c=coreuser.alluser">所有用户</a>
	      <a href="?c=myfriend">我的好友</a><br/>
	       <a href="?c=coreuser.face">我的头像</a><br/>
	
	
  <br/>
	博客：
	<a href="?c=blog">列表</a>
	 <a href="?c=blog.insert">插入</a>
	   <a href="?c=blog.tag.list">标签列表(聚合)</a>
	     <a href="?c=blog.tag.hot">热度云梯（排名）</a>
	       <a href="?c=blog.friendblog">好友的日志</a>
    <br/>
    微博：<a href="?c=microblog.mlist">列表</a> <a href="?c=microblog.add">插入</a>   <a href="?c=microblog.taglist">标签列表(聚合)</a>  <a href="?c=microblog.tagtop">热度云梯（排名）</a>  <a href="?c=microblog.at">@提到我的</a>
    <br/>
    群组：
    <a href="?c=groups.index">列表</a>
     <a href="?c=groups.add">插入</a>
        <a href="?c=groups.thread.index">话题列表</a>
          <a href="?c=groups.thread.add">增加话题</a>
            <a href="?c=groups.thread.add&t=poll">增加投票</a>
              <a href="?c=groups.thread.add&t=task">增加任务</a>
    <br/>
    相册：
    <a href="?c=album.albumList">相册列表</a>
    <br/>
    旅游：
    <a href="?c=electronicnewspaper.index">列表</a>
     <a href="?c=electronicnewspaper.create">插入</a>
    <br/>
    旅游-横幅广告管理：
    <a href="?c=bannerad.index">列表</a>
     <a href="?c=bannerad.create">插入</a>
    </div>
    <!-- 暂时 -->