	<div>
		最多选择：<widget id="poll_maxitem"/>
		<msgqueue for="$theView->widget('poll_maxitem')" />
	</div>
	
	<div id="items">
		<foreach for="$theModel->child('poll')->child('item')->childIterator()" item="row" idx="i">
		<div>
			<span class='itemContent'>投票内容{=$i+1}</span>：<a href='javascript:;' onClick='addItem()'>增加</a><widget id="'poll_item_title_'.$i" id.type="expression" />
			<msgqueue for="$theView->widget('poll_item_title_'.$i)" />
		</div>
		</foreach>
	</div>
	<input type="hidden" id="itemSum" name="itemSum" value="{=$theModel->child('poll')->child('item')->childrenCount()}" />
	<script>
	function addItem(){
		
		var newItem = jQuery("#items > div").eq(0).clone(true);
		var nowNum = parseInt(jQuery("#itemSum").val()) + 1 ;
		newItem.find(".itemContent").html("投票内容" + nowNum);
		newItem.find("input").attr("id","poll_item_title_"+(nowNum-1));
		newItem.find("input").attr("name","poll_item_title_"+(nowNum-1));
		newItem.find("input").val("");
		jQuery("#items").append(newItem);
		jQuery("#itemSum").val(nowNum);
	}
	</script>
